<nav>
  <h3 routerLink="/">تدريس</h3>

  <div class="nav-links">
    <a [routerLink]="['/', 'home']" routerLinkActive="router-link-active" >
      <svg class="icon">
        <use href="assets/icons.svg#home"></use>
      </svg>
      <span>الرئيسية</span>
    </a>
    <a [routerLink]="['/', 'home']" routerLinkActive="router-link-active" >
      <svg class="icon">
        <use href="assets/icons.svg#book"></use>
      </svg>
      <span>تعلم</span>
    </a>
    <a [routerLink]="['/', 'home']" routerLinkActive="router-link-active" >
      <svg class="icon">
        <use href="assets/icons.svg#lightbulb"></use>
      </svg>
      <span>اهتمامات</span>
    </a>
    <a [routerLink]="['/', 'home']" routerLinkActive="router-link-active" >
      <svg class="icon">
        <use href="assets/icons.svg#question"></use>
      </svg>
      <span>حولنا</span>
    </a>

  </div>

</nav>
