<div *ngIf="course" class="p-4 flex flex-col text-center items-center">
  <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
    <img class="w-full h-full rounded-full" [src]="course.image" alt="{{ course.name }}">
  </div>
  <div class="flex-grow">
    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
      {{ course.name }}
    </h2>
    <p class="leading-relaxed text-base">
      {{ course.description! | excerpt:200  }}
    </p>
    <a class="mt-3 text-indigo-500 inline-flex items-center" [routerLink]="['courses', 'course', course.id ]">المزيد
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 mr-2 rotate-180" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</div>
