<header>
  <app-navigation></app-navigation>
</header>

<!-- <aside>
  <div style="display: flex;">
    <app-card style="flex: 1;margin-bottom: 50px;">
      <ng-content></ng-content>
      <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="">
      <div class="content">
        <h5 class="subtitle">Lorem, ipsum dolor.</h5>
        <h3 class="title">Lorem ipsum dolor sit amet.</h3>
        <p class="text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque corporis dignissimos veritatis in quaerat. Adipisci nam quis sunt minus voluptatibus a doloribus, optio quasi blanditiis ducimus facilis corrupti repudiandae illo labore ipsum rerum facere cumque impedit porro error non possimus dolor. Reiciendis ad officia asperiores quidem, ut illo libero aut.
        </p>
        <small class="muted">Lorem, ipsum.</small>
      </div>
    </app-card>
  </div>
</aside> -->
<main>
  <app-slider></app-slider>
  <app-courses></app-courses>
</main>
<footer>
  <app-footer></app-footer>
</footer>
