.grid {
  margin-top: 32px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 400px;
}

.round {

}
