<div class="footer">
  <!-- <div class="links">
    <a href="#">الرئيسية</a>
    <a href="#">تعلم</a>
    <a href="#">اهتمامات</a>
    <a href="#">حولنا</a>
  </div> -->

  <div class="spons">
    <p>
      تم بناء موقع <a href="#"> تدريس</a> عن طريق <a href="#">ريم كودز</a>  للتقنيات الحديثة
    </p>
  </div>

  <div class="icons">
    <svg class="icon">
      <use href="./assets/icons.svg#facebook"></use>
    </svg>
    <svg class="icon">
      <use href="./assets/icons.svg#youtube"></use>
    </svg>
    <svg class="icon">
      <use href="./assets/icons.svg#twitter"></use>
    </svg>
  </div>
</div>
