<section class="text-gray-600 body-font relative">
  <div class="container px-1 md:px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">إضافة درس</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">إضافة  درس الى دورة تدريبية </p>
    </div>
    <div class="container px-5 mx-auto">
      <form [formGroup]="form" class="block -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="title" class="leading-7 text-sm text-gray-600">عنوان الدورة</label>
            <input type="text" id="title" formControlName="title" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>

        <div class="p-2 w-1/2" style="display: none;">
          <div class="relative">
            <label for="title" class="leading-7 text-sm text-gray-600">عنوان الدرس</label>
            <input hidden type="text" id="title" formControlName="author_id" class=" w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>



        <div class="p-2 w-4/5" *ngIf="courses">
          <label for="course" class="leading-7 text-sm text-gray-600">الدورة</label>
          <select dir="ltr" id="course"  formControlName="course" class="py-1 px-3 leading-8 mt-1 block w-full border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option *ngFor="let course of courses.data" [value]="course.id" [selected]="(selectedCourse === course.id) && editMode " >
              {{ course.name }}
            </option>
          </select>
        </div>

        <div class="p-2 w-full">
          <div class="relative h-64">
            <label for="content" class="leading-7 text-sm text-gray-600">محتوى الدرس</label>
            <quill-editor formControlName="content" dir="ltr"></quill-editor>
          </div>
        </div>
        <div class="p-2 w-full mt-64 md:mt-32">
          <button (click)="onSubmit()" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" [ngClass]="editMode ? 'bg-indigo-500 hover:bg-indigo-600' : 'bg-green-500 hover:bg-green-600' ">
            {{ editMode ? 'تعديل' : 'إنشاء' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

