<div class="post" [ngClass]="(post?.index % 2 === 0) ? 'left' : 'right' ">
  <div class="post-image">
    <img src="assets/slider/coding.jpg" alt="">
  </div>
  <div class="post-text">
    <h3>هذا النص العربي هو مثال.</h3>
    <p>
      هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
      إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص كما يمكن استخدامه لتصاميم الجرافيكس.
    </p>
  </div>


</div>
<hr class="divider">
