<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">الدورات</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base"></p>
    </div>
    <!-- cats list -->
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">الإسم</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">التفاصيل</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">الصورة</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">تاريخ الانشاء</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">آخر تعديل</th>
            <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
            <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let course of courses">
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
              {{ course.name }}
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
              {{ course.description | excerpt:30 }}
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
              <img src="{{ course.image }}" alt="" height="64" width="64">

            </td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
              {{ course.created_at | date }}
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3 text-lg text-gray-900">
              {{ course.updated_at | date }}
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 w-10 text-center">
              <button class="flex ml-3 text-white bg-green-600 border-0 py-2 px-3 focus:outline-none hover:bg-green-400 rounded" routerLink="form/{{ course.id }}">تعديل</button>
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 w-10 text-center">
              <button class="flex ml-3 text-white bg-red-600 border-0 py-2 px-3 focus:outline-none hover:bg-red-400 rounded" (click)="deleteCourse(course.id)">حذف</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
      <button routerLink="form" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">إنشاء دورة جديدة</button>
    </div>
  </div>
</section>
