<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">الفآت </h1>الفآت المتوفر حاليا للمقالات /p>
    </div>
    <!-- cats list -->
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">العنوان</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">الكلمات المميزة</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">تاريخ الانشاء</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">آخر تعديل</th>
            <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
            <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let cat of cats">
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
              {{ cat.title }}
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
              {{ cat.keys }}
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
              {{ cat.created_at | date }}
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3 text-lg text-gray-900">
              {{ cat.updated_at | date }}
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 w-10 text-center">
              <button class="flex ml-3 text-white bg-green-600 border-0 py-2 px-3 focus:outline-none hover:bg-green-400 rounded" routerLink="form/{{ cat.id }}">تعديل</button>
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 w-10 text-center">
              <button class="flex ml-3 text-white bg-red-600 border-0 py-2 px-3 focus:outline-none hover:bg-red-400 rounded" (click)="deleteCategory(cat.id)">حذف</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">

      <button routerLink="form" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">فاة جديدة</button>
    </div>
  </div>
</section>
