/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

:root {
  --color-primary: #0068b4;
  --card-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  --card-hover-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  --border-raduis: 5px;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Noto Naskh Arabic', serif;
}

p {
  font-family: 'Tajawal', sans-serif;
}

app-card img {
  margin: 0;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  color: #333;
}

.subtitle {
  font-size: 1.125rem;
  color: #666;
}

.text {
  color: #222;
}

.content {
  padding: 8px 16px;
}
