.sliders {
  position: relative;
  display: flex;
  width: 100%;
}

.slider {
  /* display: none; */
  left: -100%;
  width: 100vw;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.3s ease-in;
}

.active {
  /* display: block; */
  transform: translateX(100%);
}

.highlights {
  top: 20%;
  right: 15%;
  width: 60%;
  color: #ffffff !important;
  font-weight: 700;
  position: absolute;
}
.highlights h2 {
  font-size: 2rem;
}
.highlights p {
  font-size: 1.25rem;
}



.left ,.right {
  position: absolute;
  top: calc(50% - 32px);
  height: 64px;
  width: 32px;
  padding: 0 4px;
  cursor: pointer;
  fill: #2369e2f0;
}

.left {
  left: 0;
}


.left:hover, .right:hover {
  fill: #8ab5ff;
}


